html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
  font-family: monospace;
  font-size: 9pt;
  padding: 0 0 0 15px;
}

a {
  color: #000;
  text-decoration: none;
  display: block;
}

a:hover {
  color: #f70;
}

.thumbnail a:hover {
  color: #000;
}

div.thumbnail {
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 1px solid #555;
  padding: 2px;
  text-align: left;
  font-size: 5pt;
  position: relative
}

div.thumbnail.image img {
  min-width: 80px;
  min-height: 80px;
  border: none;
  z-index: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}

div.thumbnail.icon a {
  display: block;
  width: 80px;
  height: 80px;
  position: relative;
}

div.thumbnail.icon img {
  position: absolute;
  height: 22px;
  width: 22px;
  top: 50%;
  left: 50%;
  margin-left: -11px;
  margin-top: -11px;
}

.rightlimit, .bottomlimit {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 2;
}

.rightlimit {
  height: 84px;
  width: 2px;
}

.bottomlimit {
  height: 2px;
  width: 84px;
}

.item {
  display: inline-block;
  margin: 1px;
  width: 110px;
  height: 105px;
  text-align: center;
  padding: 0 0 15px 0;
}

.txt {
  display: inline-block;
  text-align: left;
  padding: 5px;
}

pre {
  margin: 16px;
  padding-top: 16px;
  border-top: 1px solid #ccc;
}

pre a {
  color: #00f;
}

.fancybox-skin {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.fancybox-title-float-wrap .child {
  display: none;
}

div#content {
  margin: 35px auto;
  width: 100%;
}
