body {
  background-color: #fff;
  margin: 50px;
  font-family: monospace;
  font-size: 9pt;
}

a {
  color: #000;
  text-decoration: none;
  display: block;
}

a:hover {
  color: #f70;
}

.thumbnail a:hover {
  color: #000;
}

img {
  border: none;
}

table, tr, td {
  padding: 0;
  margin: 0;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

td {
  vertical-align: middle;
  text-align: center;
}

.item {
  display: inline-block;
  margin: 1px;
  width: 110px;
  height: 105px;
  text-align: center;
  padding: 0 0 15px 0;
}

.thumbnail {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 1px solid #aaaaaa;
  text-align: left;
  font-size: 5pt;
}

.txt {
  display: inline-block;
  text-align: left;
  padding: 5px;
}

pre {
  margin: 16px;
  padding-top: 16px;
  border-top: 1px solid #ccc;
}

.fancybox-skin {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
